# SPDX-License-Identifier: CC0-1.0
#  SPDX-FileCopyrightText: 2023 Johnny Jazeix <jazeix@gmail.com>
[Desktop Entry]
Name=Li-ri
GenericName=Li-ri Arcade Game
Comment=Drive a toy wood engine
Exec=Li-ri
Icon=io.github.petitlapin.Li-ri
Terminal=false
Type=Application
Categories=ArcadeGame;Simulation;Game;KidsGame;
StartupNotify=true
Keywords=game;train;toy;wood;engine;switches;kids;